*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3
{
    color:rgb(221, 102, 17);
    background-color:rgb(181, 156, 204);
}
#my-para{
    text-decoration: underline;
    font-size: 26px;
}
#my2-para{
    text-align: center;
}
.box{
    border:1px solid rgb(73, 73, 128);
    padding: 70px 60px 50px 80px;
    margin-bottom: 60px;
}
a{
    transition:all 0.3s ease;
}
a:hover{
    background-color: rgb(24, 109, 109);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
}
#forest{
    border-radius: 50%;
}
#cherryblossom{

    border-radius: 50%;
}
nav ul{
    display: flex;
flex-direction: row;
list style: none;
}
nav ul li{
    
    margin: 0 20px;
}